/* Extra small devices */

@media (max-width: 576px) {
  .card {
    width: 100%;
    padding: 10%;

    height: 460px;
  }
  .card img {
    width: 100%;

    /* margin: auto; */
    /* padding: 30px; */
  }
  .card p{height: 20%}
}

/* Small devices (landscape phones, 576px and up)  */

@media (min-width: 576px) and (max-width: 768px) {
  .card {
    width: 43%;padding: 15px;

    height: 440px;
  }
  .card img {
    width: 90%;

    margin-top: 10px;
    /* padding: 30px; */
  }
}

/* Medium devices (tablets, 768px and up)  */

@media (min-width: 768px) and (max-width: 992px) {
  .card {
    width: 27%;

    padding: 17px;
    height: 440px;
  }
  .card img {
    width: 90%;

    margin-top: 10px;
    /* padding: 30px; */
  }
}

/* Large devices (desktops, 992px and up)  */

@media (min-width: 992px) and (max-width: 1200px) {
  .card {
    width: 20%;

    padding: 17px;
    height: 440px;
  }
  .card img {
    width: 90%;

    margin-top: 10px;
    /* padding: 30px; */
  }
}

/* Extra large devices (large desktops, 1200px and up)  */

@media (min-width: 1200px) {
  .card {
    width: 20%;

    padding: 17px;
    height: 440px;
  }
  .card img {
    width: 90%;

    margin-top: 10px;
    /* padding: 30px; */
  }
}
section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  border: 1px solid rgb(197, 188, 188);

  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}
.card img {
  display: block;

  border-radius: 5px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  margin: auto;

  /* padding: 30px; */
}
.card h1 {
  text-align: center;
  font-weight: bolder;
  text-transform: uppercase;
}
.card p {
  text-align: justify;
  margin-bottom: 30px;
}
.card button {
  display: block;
  width: 50%;
  height: 30px;
  margin: auto;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(83, 66, 99);
  color: azure;
  border: none;
  transition: all 0.3s ease;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}
.card button:hover {
  background-color: azure;
  color: rgb(83, 66, 99);
  width: 60%;
  height: 35px;
}
