/* Extra small devices */

@media (max-width: 576px) {
  section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .card {
    width: 100%;
    border: 1px solid rgb(197, 188, 188);
    padding: 10%;
    height: 420px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  }
  .card img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    /* margin: auto; */
    /* padding: 30px; */
  }
  .card h1 {
    text-align: center;
    font-weight: bolder;
    text-transform: uppercase;
  }
  .card p {
    text-align: justify;
    margin-bottom: 30px;
  }
  .card button {
    width: 50%;
    height: 30px;
    margin-left: 65px;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(83, 66, 99);
    color: azure;
    border: none;
    transition: all 0.3s ease;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  }
  .card button:hover {
    background-color: azure;
    color: rgb(83, 66, 99);
    width: 60%;
    height: 35px;
  }
}

/* Small devices (landscape phones, 576px and up)  */

@media (min-width: 576px) and (max-width: 768px) {
  section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .card {
    width: 50%;
  }
}

/* Medium devices (tablets, 768px and up)  */

@media (min-width: 768px) and (max-width: 992px) {
  section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .card {
    width: 30%;
  }
}

/* Large devices (desktops, 992px and up)  */

@media (min-width: 992px) and (max-width: 1200px) {
  section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .card {
    width: 30%;
  }
}
/* Extra large devices (large desktops, 1200px and up)  */

@media (min-width: 1200px) {
  section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .card {
    width: 25%;
  }
}
body {
 
}
